* {
    margin: 0%;
    padding: 0%;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-field {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background: #fff;
    transition: box-shadow 0.3s;
    font-size: 16px;
    outline: none;
}

.input-label{
    position:absolute;
    color:#999;
    top:50%;
    left:10px;
    transform: translateY(-50%);
    transition: top 0.3s,font-size 0.3s,color 0.3s;
}
.input-field:focus+.input-label,
.input-field:not(::placeholder-shown)+.input-label
{
    top:0%;
    font-size: 12px;
    color:#000;
    padding:3px;
    background-color: #eafcff;
    border-radius: 3px;
    font-weight: 700;
}